<template>
  <div class='login'>
    <div class='set bg-success'>
      <b-card header='Login' align='center'>
        <b-container>
          <b-row class='bg-white'>
            <b-col>
              <b-form @submit='onSubmit' v-if='show'>
                <b-form-group id='input-group-1' label='Username' label-for='input-1'>
                  <b-form-input
                    id='input-1'
                    v-model='form.user'
                    type='text'
                    required
                    placeholder='Enter username'
                  ></b-form-input>
                </b-form-group>
                <b-form-group id='input-group-2' label='Password' label-for='input-2'>
                  <b-form-input
                    id='input-2'
                    type='password'
                    v-model='form.password'
                    required
                    placeholder='Enter password'
                  ></b-form-input>
                </b-form-group>
                <div class='mb-3'>
                  <b-label class='text-danger'>{{error}}</b-label>
                </div>
                <b-button type='submit' class='mr-2' variant='primary'>Login</b-button>
                <b-button to='/register' variant>Register</b-button>
              </b-form>
            </b-col>
          </b-row>
        </b-container>
      </b-card>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'Login',
  data () {
    return {
      error: '',
      form: {
        user: '',
        password: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      axios
        .post('http://localhost:9000/api/customer/login', {
          user: this.form.user,
          password: this.form.password
        })
        .then(res => {
          if (res.data.status) {
            localStorage.setItem('customer', JSON.stringify(res.data.customer))
            this.error = ''
            this.$router.push('/home')
          } else {
            this.error = res.data.message
          }
        })
        .catch(err => {
          console.log(err)
        })
    },
    clear: function () {
      localStorage.clear()
    }
  },
  created: function () {
    this.clear()
  }
}
</script>
<style scoped>
.set {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}
</style>
