<template>
  <div class="hello">
    <b-container>
      <b-row>
        <b-col></b-col>
        <b-col  cols='8'>
          <div>
            <b-modal
              id='modal-prevent-closing'
              ref='modal'
              title='ฝากเงิน'
              @show='resetModal'
              @hidden='resetModal'
              @ok='handleOkDeposit'
            >
              <form ref='form' @submit.stop.prevent='handleSubmitDeposit'>
                <b-form-group
                  :state='moneyState'
                  label='จำนวนเงิน'
                  label-for='money-input'
                  :invalid-feedback='errorMessageDeposit'
                >
                  <b-form-input
                    id='money-input'
                    v-model='money'
                    :state='moneyState'
                    required
                  ></b-form-input>
                </b-form-group>
              </form>
            </b-modal>
            <b-modal
              id='modal-prevent'
              ref='modal'
              title='ถอนเงิน'
              @show='resetModal'
              @hidden='resetModal'
              @ok='handleOkWithDraw'
            >
              <form ref='form' @submit.stop.prevent='handleSubmitWithdraw'>
                <b-form-group
                  :state='moneyStateWithDraw'
                  label='จำนวนเงิน'
                  label-for='money-input'
                  :invalid-feedback='errorMessageWithDraw'
                >
                  <b-form-input
                    id='money-input'
                    v-model='money'
                    :state='moneyStateWithDraw'
                    required
                  ></b-form-input>
                </b-form-group>
              </form>
            </b-modal>
          </div>
          <div>
            <b-row>
              <b-col>
                <b-button v-b-modal.modal-prevent-closing class="btn-info my-2">ฝากเงิน</b-button>
                <b-button v-b-modal.modal-prevent class="btn-warning my-2 mx-1">ถอนเงิน</b-button>
              </b-col>
              <b-col></b-col>
              <b-col class="mt-3">จำนวนเงินรวม : {{sum}} บาท</b-col>
            </b-row>
          </div>
          <b-table
            hover
            :items="transactions"
            :fields="fields"
            :current-page="currentPage"
            per-page="10"
            @filtered="onFiltered"
          >
            <template v-slot:cell(actions)="row">
              <b-button size="sm" @click="info(row.item, row.index, $event.target)" class="mr-1">
                แก้ไข
              </b-button>
              <b-button size="sm" @click="deleteTransaction(row.item, row.index, $event.target)" class="mr-1 btn-danger">
                ลบ
              </b-button>
          </template>
          </b-table>
          <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          curent
          per-page="10"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
          </b-col>
        <b-col></b-col>
      </b-row>
      <b-modal :id="infoModal.id" title="แก้ไขจำนวนเงิน" @ok='handleOkEdit' @hidden='resetInfoModal'>
        <form ref='form' @submit.stop.prevent='handleSubmitEdit'>
          <b-form-group label="ประเภท" label-for="table-style-variant" label-cols-lg="2">
            <b-form-select
            v-model="infoModal.description"
            :options="infoModal.options"
            id="table-style-variant"
          >
          </b-form-select>
          </b-form-group>
          <b-form-group
            :state='moneyStateEdit'
            label='จำนวนเงิน'
            label-for='money-edit'
            :invalid-feedback='errorMessageEdit'
            >
            <b-form-input
              id='money-edit'
              v-model='infoModal.money'
              :state='moneyStateEdit'
              :value='infoModal.money'
              required
            ></b-form-input>
          </b-form-group>
        </form>
      </b-modal>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
export default {
  name: 'HelloWorld',
  components: {
  },
  data () {
    return {
      customer: JSON.parse(localStorage.getItem('customer')),
      money: '',
      sum: 0,
      moneyState: null,
      moneyStateWithDraw: null,
      moneyStateEdit: null,
      errorMessageDeposit: '',
      errorMessageWithDraw: '',
      errorMessageEdit: '',
      infoModal: {
        id: 'info-modal',
        _id: null,
        user: '',
        money: null,
        type: '',
        description: '',
        options: [
          'ฝากเงิน',
          'ถอนเงิน'
        ],
        datetime: null
      },
      fields: [
        {
          key: 'money',
          label: 'จำนวนเงิน',
          formatter: (value, key, item) => {
            return value.toLocaleString()
          }
        },
        {
          key: 'datetime',
          label: 'วันที่',
          formatter: (value, key, item) => {
            return moment(value).utc('au').format('DD/MM/YYYY HH:mm')
          }
        },
        {
          key: 'actions',
          label: 'Actions'
        }
      ],
      transactions: [],
      totalRows: 0,
      currentPage: 1
    }
  },
  methods: {
    checkUser: function () {
      if (this.customer === null) {
        this.$router.push('/login')
      } else {
        this.getTransaction()
      }
    },
    getTransaction: function () {
      axios.get('http://localhost:9000/api/transaction/' + this.customer.user).then(res => {
        this.transactions = res.data.transactions
        this.totalRows = res.data.transactions.length
        this.sum = res.data.sum.toLocaleString()
      })
    },
    checkFormValidity () {
      let valid = this.$refs.form.checkValidity()
      this.errorMessageDeposit = 'กรุณากรอกจำนวนเงิน'
      if (this.money < 0) {
        this.errorMessageDeposit = 'ไม่สามารถฝากเงินติดลบได้'
        valid = false
      }
      if (parseFloat(this.money) === 0) {
        this.errorMessageDeposit = 'กรุณากรอกจำนวนเงิน'
        valid = false
      }
      this.moneyState = valid
      return valid
    },
    checkFormValidityWithDraw () {
      let valid = this.$refs.form.checkValidity()
      this.errorMessageWithDraw = 'กรุณากรอกจำนวนเงิน'
      if (this.money < 0) {
        this.errorMessageWithDraw = 'ไม่สามารถถอนเงินติดลบได้'
        valid = false
      }
      if (parseFloat(this.money) === 0) {
        this.errorMessageWithDraw = 'กรุณากรอกจำนวนเงิน'
        this.moneyStateWithDraw = false
        valid = false
      }
      this.moneyStateWithDraw = valid
      return valid
    },
    checkFormValidityEdit () {
      let valid = this.$refs.form.checkValidity()
      this.errorMessageEdit = 'กรุณากรอกจำนวนเงิน'
      if (this.infoModal.money < 0) {
        this.errorMessageEdit = 'ไม่สามารถแก้ไขให้เงินติดลบได้'
        valid = false
      }
      if (parseFloat(this.infoModal.money) === 0) {
        this.errorMessageEdit = 'กรุณากรอกจำนวนเงิน'
        valid = false
      }
      this.moneyStateEdit = valid
      return valid
    },
    resetModal () {
      this.money = ''
      this.moneyState = null
    },
    resetInfoModal () {
      this.infoModal.money = null
      this.infoModal.description = ''
      this.infoModal.user = ''
      this.infoModal.type = ''
    },
    handleOkDeposit (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmitDeposit()
    },
    handleOkWithDraw (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmitWithdraw()
    },
    handleOkEdit (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmitEdit()
    },
    handleSubmitDeposit () {
      // ฝากเงิน
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return
      }
      axios.post('http://localhost:9000/api/transaction/deposit/', {
        user: this.customer.user,
        money: this.money
      }).then(res => {
        this.getTransaction()
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      })
    },
    handleSubmitWithdraw () {
      // ถอนเงิน
      if (!this.checkFormValidityWithDraw()) {
        return
      }
      axios.get('http://localhost:9000/api/transaction/amount/' + this.customer.user, {
      }).then(resAmount => {
        if (resAmount.data.amount >= this.money) {
          axios.post('http://localhost:9000/api/transaction/withdraw/', {
            user: this.customer.user,
            money: this.money
          }).then(res => {
            this.getTransaction()
            this.$nextTick(() => {
              this.$bvModal.hide('modal-prevent')
            })
          })
        } else {
          this.errorMessageWithDraw = 'จำนวนเงินไม่เพียงพอ'
          this.moneyStateWithDraw = false
        }
      })
    },
    handleSubmitEdit () {
      // ฝากเงิน
      // Exit when the form isn't valid
      if (!this.checkFormValidityEdit()) {
        return
      }
      axios.put('http://localhost:9000/api/transaction/' + this.infoModal._id, {
        _id: this.infoModal._id,
        user: this.infoModal.user,
        money: this.infoModal.money,
        datetime: this.infoModal.datetime,
        description: this.infoModal.description
      }).then(res => {
        this.getTransaction()
        this.$nextTick(() => {
          this.$bvModal.hide(this.infoModal.id)
        })
      })
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    info (item, index, button) {
      this.resetModal()
      this.infoModal.title = `Row index: ${index + 1}`
      if (item.description === 'ถอนเงิน') {
        this.infoModal.money = item.money * -1
      } else {
        this.infoModal.money = item.money
      }
      this.infoModal.description = item.description
      this.infoModal.datetime = item.datetime
      this.infoModal._id = item._id
      this.infoModal.user = item.user
      this.$root.$emit('bv::show::modal', this.infoModal.id, button)
    },
    deleteTransaction (item, index, button) {
      axios.delete('http://localhost:9000/api/transaction/' + item._id).then(res => {
        this.getTransaction()
      })
    }
  },
  created: function () {
    this.checkUser()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
